<template>
  <div id="app">
    <div style="height: 48px; width: 48px; margin: auto; top: 15%; background: black; color: white; content-align: center">
      <SocketZero v-show="showSocket" style="padding: 15px"></SocketZero>
      <div v-if="!showSocket" style="padding: 15px">
        0
      </div>
    </div>
    <button @click="mostrarSocket">{{showSocket ? "Parar" : "Ligar"}}</button>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      showSocket: false
    }
  },
  methods: {
    mostrarSocket() {
      this.showSocket = !this.showSocket
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
