<template>
  <div>
    {{recieved_num}}
  </div>
</template>

<script>
export default {
  name: 'SocketZero',
  data () {
    return {
      recieved_num: 0
    }
  },
  sockets: {
    news(msg) {
      this.recieved_num = msg["num"]
    }
  }
}
</script>

<style>

</style>
